<md-dialog aria-label="Waiting for Ledger" ng-cloak md-theme="ul.currentTheme" ng-style="{'width':'70%','height':'40%',
'position':'relative',
                'background':'white url(src/components/modalWaitLedger/WaitingForLedger.png)no-repeat',
                'background-size':'cover',
                'background-position':'center'}">
  <md-dialog-content>
    <!--<div class="md-dialog-content" ng-style="{'background-image':'./WaitingForLedger'}">-->
    <div class="md-dialog-content"> 
    </div>
  </md-dialog-content>
</md-dialog>