html {
  @apply min-h-full bg-white;
}

body {
  @apply font-sans antialiased text-gray-700;
}

a:focus,
button:focus,
textarea:focus,
input:focus {
  @apply outline-none;
}

button,
img {
  @apply select-none;
  -webkit-user-drag: none;
}

h1,
h2,
h3,
h4 {
  @apply font-bold text-gray-900;
}

h1 {
  @apply mb-2 text-4xl leading-none;
}

h2 {
  @apply mb-1 text-2xl;
}

h3 {
  @apply mb-1 text-xl;
}

h4 {
  @apply mb-1 text-lg;
}

/* Headings without H */
.header-1 {
  @apply text-4xl leading-none mb-2 font-bold text-gray-900;
}

.header-2 {
  @apply text-2xl mb-1 font-bold text-gray-900;
}

.header-3 {
  @apply text-xl mb-1 font-bold text-gray-900;
}

.header-4 {
  @apply text-lg mb-1 font-bold text-gray-900;
}
