# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/screenshots
/coverage
.coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# cypress
cypress/screenshots/**/*.png

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
