!.gitkeep

.DS_Store
thumbs.db

dist/electron/*
dist/web/*

build/*
!build/background.png
!build/icons
build/target/*
!build/target/.gitkeep

node_modules/

npm-debug.log
npm-debug.log.*
yarn-error.log

__tests__/*/.coverage

plugins/*

!build/entitlements.mac.plist
