html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    visibility: hidden;
}

::-webkit-scrollbar-track:hover {
    visibility: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.3);
    transition:background linear 0.5s;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

.selectcoin {
  min-height: 125;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */
.no-errors .md-errors-spacer {
  display: none;
}


#content {
  overflow: scroll;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content div.share {
  background-color: transparent;
  border: none;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 45px;
}


#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

#content .md-headline .delegate-name {
  padding: 0 15px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.md-toolbar-tools button {
  -webkit-app-region: no-drag;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

md-bottom-sheet {
  padding-bottom: 130px;
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

.footer, .footer a{
  color:white;
}

.main-dashboard .main-actions {
  padding: 0;
}

.main-dashboard .main-actions .watch-only-address {
  width: 120%;
}

.import-account-dialog {
  min-width: 700px;
}

#vote-help {
  color: #555;
  padding: 20px;
  border-top: 1px solid #ccc;
}

#home-box-accounts {
  min-height: 180px;
}

#home-box-row {
  min-height: 180px;
}

#home-box-price, #home-box-network {
  /*min-height: 100px;*/
}