<md-dialog aria-label="Add Delegate" ng-cloak md-theme="ul.currentTheme">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>Add Delegate </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dialog.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
     <div ng-repeat="control in controls" class="md-dialog-content">
        <md-input-container class="md-block">
          <label for="delegate-name" translate>Active delegates (forging)</label>
          <md-select id="delegate-name" ng-model="$dialog.delegate.name">
            <md-option ng-value="delegate.username" ng-repeat="delegate in $dialog.activeDelegates | orderBy: '-approval'">{{delegate.username}} ({{delegate.approval}}% {{'approval'|translate}}, {{delegate.productivity}}% {{'productivity'|translate}})</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label translate>Delegate name</label>
          <input ng-model="$dialog.delegate.name" type="text">
        </md-input-container>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-primary" ng-click="$dialog.addDelegate($dialog.delegate)" style="margin-right:20px;">
        <translate>Add</translate>
      </md-button>
      <md-button ng-click="$dialog.cancel()">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
