<md-dialog aria-label="Register Delegate"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>注册受托人为</span>&nbsp;{{send.data.fromAddress}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
         <md-input-container class="md-block">
          <label translate>用户名</label>
          <input ng-model="createDelegate.data.username" type="text" ng-required="true" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
          <label translate>密码</label>
          <input ng-model="createDelegate.data.passphrase" type="password" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" ng-if="send.data.secondSignature">
          <label translate>二级密码</label>
          <input ng-model="createDelegate.data.secondpassphrase" type="password" ng-required="true">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="createDelegate.next()" translate>
        下一步
      </md-button>
      <md-button ng-click="createDelegate.cancel()" style="margin-right:20px;" translate>
        取消
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
