<md-dialog aria-label="Create Account" ng-cloak>
  <form name="createAccountForm" ng-submit="createAccountDialog.next()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Create Account</span></h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-card ng-if="!createAccountDialog.data.showRepassphrase" class="warning" flex="100">
          <md-card-title>
            <md-card-title-text>
              <span>
                <translate>Please BACKUP SECURELY THE PASSPHRASE, this client does NOT store it and thus cannot recover your passphrase</translate>
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <div ng-if="createAccountDialog.data.showRepassphrase">
          <translate>Please type word 3, 6 and 9 from your passphrase to validate the account creation.</translate>
        </div>
        <br/>
        <md-input-container ng-if="!createAccountDialog.data.showRepassphrase" class="md-block">
          <label translate>Passphrase</label>
          <input ng-model="createAccountDialog.data.passphrase" type="text" readonly="readonly"/>
        </md-input-container>
        <br/>
        <md-input-container ng-if="createAccountDialog.data.showRepassphrase" flex-gt-sm="85">
          <label>{{'Word'|translate}} 3</label>
          <input ng-model="createAccountDialog.data.word3" type="text" ng-required="true" md-autofocus/>
        </md-input-container>
        <md-input-container ng-if="createAccountDialog.data.showRepassphrase" flex-gt-sm="85">
          <label>{{'Word'|translate}} 6</label>
          <input ng-model="createAccountDialog.data.word6" type="text" ng-required="true" md-autofocus/>
        </md-input-container>
        <md-input-container ng-if="createAccountDialog.data.showRepassphrase" flex-gt-sm="85">
          <label>{{'Word'|translate}} 9</label>
          <input ng-model="createAccountDialog.data.word9" type="text" ng-required="true" md-autofocus/>
        </md-input-container>
        <div ng-if="createAccountDialog.data.showWrongRepassphrase">
          <translate>The words does not match the original passphrase.</translate>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-if="!createAccountDialog.data.showRepassphrase" ng-click="createAccountDialog.next()">
        <translate>Next</translate>
      </md-button>
      <md-button type="submit" ng-if="createAccountDialog.data.showRepassphrase" ng-disabled="createAccountForm.$invalid">
        <translate>Create</translate>
      </md-button>
      <md-button ng-click="createAccountDialog.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
