<md-dialog aria-label="Create Second Passphrase" ng-cloak md-theme="ul.currentTheme">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Create Second Passphrase</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="createSecondPassphraseDialog.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-card ng-if="!createSecondPassphraseDialog.data.showRepassphrase" md-colors="{'background': 'red-100'}" flex="100">
          <md-card-title>
            <md-card-title-text>
              <span>
                <translate>Please securely backup the second passphrase before continuing, this client does NOT store it and thus cannot recover your passphrase!</translate>
                <br/>
                <translate>If you are having issues with forms (second passphrase field not showing up) after creating the second passphrase, please restart your client.</translate>
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <div ng-if="createSecondPassphraseDialog.data.showRepassphrase" translate>
          Please paste the original and second passphrase to validate the creation.
        </div>
        <passphrase-field ng-if="createSecondPassphraseDialog.data.showRepassphrase" ng-model="createSecondPassphraseDialog.data.passphrase" label="{{'Original Passphrase' | translate}}"></passphrase-field>
        <passphrase-field ng-if="createSecondPassphraseDialog.data.showRepassphrase" ng-model="createSecondPassphraseDialog.data.secondPassphrase" label="{{'Second Passphrase' | translate}}"></passphrase-field>
        <md-input-container class="md-block" ng-if="!createSecondPassphraseDialog.data.showRepassphrase">
            <label translate>Second Passphrase</label>
            <input ng-model="createSecondPassphraseDialog.data.secondPassphrase" type="text" readonly="readonly" md-autofocus />
        </md-input-container>
        <div ng-if="createSecondPassphraseDialog.data.showWrongRepassphrase" translate>
          The second passphrase does not match the one you just got.
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-if="!createSecondPassphraseDialog.data.showRepassphrase" ng-click="createSecondPassphraseDialog.next()">
        <translate>Next</translate>
      </md-button>
      <md-button ng-if="createSecondPassphraseDialog.data.showRepassphrase" ng-click="createSecondPassphraseDialog.next()">
        <translate>Create</translate>
      </md-button>
      <md-button ng-click="createSecondPassphraseDialog.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>