<md-dialog aria-label="Create Account" ng-cloak>
  <form name="createAccountForm" ng-submit="createAccountDialog.next()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Create Account</span></h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-card ng-if="!createAccountDialog.data.showRepassphrase" md-colors="{'background': 'red-100'}" flex="100">
          <md-card-title>
            <md-card-title-text>
              <span>
                <translate>Please backup securely the passphrase, this client does NOT store it and thus cannot recover your passphrase</translate>
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <div ng-if="createAccountDialog.data.showRepassphrase">
          <translate>Please paste here the passphrase to validate the account creation.</translate>
        </div>
        <md-input-container class="md-block">
          <label translate>Passphrase</label>
          <input ng-if="!createAccountDialog.data.showRepassphrase" ng-model="createAccountDialog.data.passphrase" type="text" readonly="readonly"/>
          <input ng-if="createAccountDialog.data.showRepassphrase" ng-model="createAccountDialog.data.passphrase" type="text" ng-required="true" md-autofocus/>
        </md-input-container>

        <div ng-if="createAccountDialog.data.showWrongRepassphrase">
          <translate>The passphrase does not match the original one.</translate>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-if="!createAccountDialog.data.showRepassphrase" ng-click="createAccountDialog.next()">
        <translate>Next</translate>
      </md-button>
      <md-button type="submit" ng-if="createAccountDialog.data.showRepassphrase" ng-disabled="createAccountForm.$invalid">
        <translate>Create</translate>
      </md-button>
      <md-button ng-click="createAccountDialog.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
