<md-dialog aria-label="Register Delegate"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Register delegate for</span>&nbsp;{{createDelegate.data.fromAddress}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-card flex="100">
          <md-card-title>
            <md-card-title-text>
              <span translate>
                Please restart your client after the delegate registration has been put in a block to reflect the changes.
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
         <md-input-container class="md-block">
          <label translate>Username</label>
          <input ng-model="createDelegate.data.username" type="text" ng-required="true" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
          <label translate>Passphrase</label>
          <input ng-model="createDelegate.data.passphrase" type="password" ng-required="true" ng-attr-type="{{ send.showPassphrase ? 'text' : 'password' }}">
          <md-icon style="cursor: pointer;outline: none" ng-click="send.showPassphrase = !send.showPassphrase" md-font-library="material-icons">
            {{ send.showPassphrase ? 'visibility_off' : 'visibility' }}
          </md-icon>
        </md-input-container>
        <md-input-container class="md-block" ng-if="createDelegate.data.secondSignature">
          <label translate>Second Passphrase</label>
          <input ng-model="createDelegate.data.secondpassphrase" type="password" ng-required="true" ng-attr-type="{{ send.showSecondPassphrase ? 'text' : 'password' }}">
          <md-icon style="cursor: pointer;outline: none" ng-click="send.showSecondPassphrase = !send.showSecondPassphrase" md-font-library="material-icons">
            {{ send.showSecondPassphrase ? 'visibility_off' : 'visibility' }}
          </md-icon>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="createDelegate.next()">
        <translate>Next</translate>
      </md-button>
      <md-button ng-click="createDelegate.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
