<md-dialog class="import-account-dialog" aria-label="Import Account" ng-cloak md-theme="ul.network.theme">
  <form name="importAccountForm" ng-submit="send.save()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Import Account</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="send.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="md-dialog-content">
      <md-card md-colors="{'background': 'red-100'}" flex="100">
        <md-card-title>
          <md-card-title-text>
            <span translate>
              Passphrase is <strong>case sensitive</strong>, each character change will result in importing a different Ark address! Passphrases are <strong>not saved</strong> on this computer so always make sure you have them <strong>backed up safely!</strong>
            </span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" md-no-float class="md-block" flex-gt-sm="85">
          <label translate>Passphrase</label>
          <input ng-model="send.data.passphrase" ng-required="true" type="text" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="15">
          <qr-scanner input-callback="passphrase" ng-click="openScanner($event)"></qr-scanner>
        </md-input-container>
      </div>
      <!--<md-input-container md-no-float class="md-block">
        <label>Second Passphrase</label>
        <input ng-model="send.data.secondpassphrase" type="text">
      </md-input-container>-->
    </div>
    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="importAccountForm.$invalid">
        <translate>Import</translate>
      </md-button>
      <md-button ng-click="send.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>