<md-dialog aria-label="Backgrounds" ng-cloak flex="50">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Background</span></h2>
				<span flex></span>
        <md-button class="md-icon-button" ng-click="send.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
    	<md-list ng-cloak ng-repeat="category in send.backgroundKeys">
			<md-subheader class="md-no-sticky">
				<span style="text-transform: capitalize;" translate>{{ category }}</span>
			</md-subheader>
			<md-grid-list md-cols="4" md-row-height="2:2" md-gutter="12px">
				<md-grid-tile ng-repeat="(key, item) in send.backgrounds[category]" style="background: {{ item }}" ng-click="send.select(item)" ng-class="send.selected == item ? 'active' : ''" class="background-item">
			    	<md-grid-tile-footer>
			        	<h3>{{ key }}</h3>
			     	</md-grid-tile-footer>
			    </md-grid-tile>
			</md-grid-list>
		</md-list>
		<md-divide></md-divide>
	</md-content>
  	<md-dialog-actions layout="row">
  	  <md-button md-colors="{'background':'red' }" ng-click="send.save()">
  	    <translate>Save</translate>
  	  </md-button>
  	  <md-button ng-click="send.cancel()" style="margin-right:20px;">
  	    <translate>Cancel</translate>
  	  </md-button>
  	</md-dialog-actions>
  	</md-content>
</md-dialog>