<md-dialog aria-label="Appearance" ng-cloak flex="50" md-theme="ul.currentTheme">
  <md-toolbar md-colors="{'background':'primary'}">
    <div class="md-toolbar-tools">
      <h2><span translate>Appearance</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="send.cancel()">
        <md-icon md-font-library="material-icons">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-selected="0" md-stretch-tabs>
      <md-tab label="{{ 'Background' | translate }}">
        <div>
          <md-list ng-cloak ng-repeat="category in send.backgroundKeys">
            <md-subheader class="md-no-sticky">
              <span style="text-transform: capitalize;">{{ category | translate }}</span>
            </md-subheader>
            <md-grid-list md-cols="4" md-row-height="2:2" md-gutter="12px">
              <md-grid-tile ng-repeat="(key, item) in send.backgrounds[category]" style="background: {{ item }}" ng-click="send.selectBackground(item)" ng-class="send.selectedBackground == item ? 'active' : ''" class="background-item">
                <md-grid-tile-footer>
                  <h3>{{ key }}</h3>
                </md-grid-tile-footer>
              </md-grid-tile>
            </md-grid-list>
          </md-list>
          <md-divide></md-divide>
        </div>
      </md-tab>
      <md-tab label="{{ 'Theme' | translate }}">
        <div padding>
          <md-subheader class="md-no-sticky">
            <span translate>Themes</span>
          </md-subheader>
          <md-grid-list flex md-cols="4" md-row-height="2:2" md-gutter="12px" layout="row">
            <md-grid-tile ng-repeat="(theme, colors) in send.themes" md-colspan="1" class="theme-item" ng-class="send.selectedTheme == theme ? 'active' : ''">
              <md-grid-list ng-click="send.selectTheme(theme)" class="background-item" flex md-cols="2" md-row-height="1:1" md-gutter="0px" md-rows="1" layout-fill>
                <md-grid-tile ng-repeat="color in colors track by $index" md-colspan="1" md-rowspan="1" layout="col" md-colors="{background: color}">
                </md-grid-tile>
              </md-grid-list>
              <md-grid-tile-footer>
                <h3 style="text-transform: capitalize;">{{ theme }}</h3>
              </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
  <md-dialog-actions layout="row">
    <md-switch ng-model="send.darkMode" ng-change="send.toggleDark(send.darkMode)" aria-label="Dark Mode">
      {{'Dark Mode' | translate}}
    </md-switch>
    <md-button md-colors="{'background':'primary'}" ng-click="send.upload()">
      <translate>Upload</translate>
    </md-button>
    <md-button ng-if="send.userSelected" md-colors="{'background':'warn'}" ng-click="send.deleteImage()">
      <translate>Delete</translate>
    </md-button>
    <span flex></span>
    <md-button md-colors="{'background':'primary'}" ng-click="send.save()">
      <translate>Save</translate>
    </md-button>
    <md-button ng-click="send.cancel()" style="margin-right:20px;">
      <translate>Cancel</translate>
    </md-button>
  </md-dialog-actions>
  </md-content>
</md-dialog>