<md-dialog aria-label="Transaction" ng-cloak md-theme="ul.network.theme">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Transaction</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="validate.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-list>
          <md-list-item>
            <b>ID</b> <span class="md-secondary">{{validate.transaction.id}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>Type</b> <span class="md-secondary">{{validate.transaction.type}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>From</b> <span class="md-secondary">{{validate.transaction.senderId}}</span>
          </md-list-item>
          <md-list-item ng-if="validate.transaction.recipientId">
            <b translate>To</b> <span class="md-secondary">{{validate.transaction.recipientId}}</span>
          </md-list-item>
          <md-list-item ng-if="validate.transaction.username">
            <b translate>Username</b> <span class="md-secondary">{{validate.transaction.username}}</span>
          </md-list-item>
          <md-list-item ng-if="validate.transaction.vendorField">
            <b translate>Smartbridge</b> <span class="md-secondary">{{validate.transaction.vendorField}}</span>
          </md-list-item>
          <md-list-item ng-if="validate.transaction.amount">
            <b translate>Amount (Ѧ)</b> <span class="md-secondary">{{validate.humanAmount}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>Fee (Ѧ)</b> <span class="md-secondary">{{validate.transaction.fee/100000000}}</span>
          </md-list-item>
        </md-list>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="validate.saveFile()">
        <span translate>Save File</span>
      </md-button>
      <md-button md-colors="{'background':'primary' }" ng-click="validate.send(validate.transaction)">
        <span translate>Send</span> Ѧ{{(validate.transaction.amount+validate.transaction.fee)/100000000}} <span translate>now!</span>
      </md-button>
      <md-button ng-click="validate.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>