:root {
  /* --profile-avatar-xs: 150px; */
  /* --profile-avatar-sm: 150px; */
  /* --profile-avatar-lg: 150px; */
  --profile-avatar-xl: 150px;
}

.profile-avatar-xl {
  height: calc(var(--profile-avatar-xl) * 0.66);
  width: var(--profile-avatar-xl);
  background-position: center;
  background-repeat: no-repeat;
}
