:root {
  /* --profile-avatar-xs: 150px; */
  /* --profile-avatar-sm: 150px; */
  /* --profile-avatar-lg: 150px; */
  --profile-avatar-xl: 150px;
}

.profile-avatar-xl {
  height: var(--profile-avatar-xl);
  width: var(--profile-avatar-xl);
  background-position: center;
  @apply .bg-no-repeat
}
