@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../assets/fonts/Proxima_Nova_Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../assets/fonts/Proxima_Nova_Semibold.otf');
}

.semibold {
  font-family: 'Proxima Nova Semibold';
}