/**
 * General styling
 */

h1,
h2,
h3,
h4 {
  @apply .font-bold;
  color: var(--theme-header-text);
}

a {
  @apply .no-underline .text-blue .transition
}

a:hover {
  @apply .text-blue-dark .underline
}

a:active {
  color: #8690bd
}

a:focus,
button:focus,
textarea:focus,
input:focus {
  @apply .outline-none
}
