/**
 * General styling
 */

h1,
h2,
h3,
h4 {
  @apply .font-bold;
  color: var(--theme-header-text);
}

a {
  @apply .no-underline .text-blue .transition
}

a:hover {
  @apply .text-blue-dark .underline
}

a:active {
  color: #8690bd
}

a:focus,
button:focus,
textarea:focus,
input:focus {
  @apply .outline-none
}

.App:not(.mac) *::-webkit-scrollbar {
  @apply .w-2 .h-2 .rounded-full;
  background-color: rgba(0, 0, 0, 0);
}
.App:not(.windows) *::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05)
}
.App:not(.mac) *::-webkit-scrollbar-thumb {
  @apply .rounded-full;
  background-color: rgba(0, 0, 0, 0.3)
}
.App:not(.mac) *::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4)
}
.App:not(.mac) *::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5)
}

.rotate-90 {
	transform: rotate(90deg);
}

.modal-backdrop {
  @apply .fixed .z-50 .pin-t .pin-l .table .w-full .h-full;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.instructions-text {
  @apply .mt-16 .mx-16 .w-1/2 .p-4 .rounded-lg .text-theme-page-instructions-text .bg-theme-page-instructions-background
}

.word-break-all {
  word-break: break-all;
}
