/**
 * General styling
 */

h1,
h2,
h3,
h4 {
  @apply .font-bold;
  color: var(--theme-header-text);
}

a {
  @apply .no-underline .text-blue .transition
}

a:hover {
  @apply .text-blue-dark .underline
}

a:active {
  color: #8690bd
}

a:focus,
button:focus,
textarea:focus,
input:focus {
  @apply .outline-none
}

.rotate-90 {
	transform: rotate(90deg);
}

.modal-backdrop {
  @apply .fixed .z-50 .pin-t .pin-l .table .w-full .h-full;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.instructions-text {
  @apply .mt-16 .mx-16 .w-1/2 .p-4 .rounded-lg .text-theme-page-instructions-text .bg-theme-page-instructions-background
}