/**
 * General styling
 */

html {
	line-height: 1.15;
}

body {
	@apply .bg-default-background;
}

/* Default CSS headings */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1,
h2,
h3,
h4 {
	@apply .font-bold;
	color: var(--theme-header-text);
}

a {
	@apply .no-underline .text-blue .transition;
}

a:hover {
	@apply .text-blue-dark .underline;
}

a:active {
	color: #8690bd;
}

a:focus,
button:focus,
textarea:focus,
input:focus {
	@apply .outline-none;
}

a,
button,
img {
	@apply .select-none;
	-webkit-user-drag: none;
}

.App:not(.mac) *::-webkit-scrollbar {
	@apply .w-2 .h-2 .rounded-full;
	background-color: rgba(0, 0, 0, 0);
}
.App:not(.mac) *::-webkit-scrollbar-track:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.App:not(.mac) *::-webkit-scrollbar-thumb {
	@apply .rounded-full;
	background-color: rgba(0, 0, 0, 0.3);
}
.App:not(.mac) *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.App:not(.mac) *::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.5);
}

.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.instructions-text {
	@apply .mt-16 .mx-16 .w-1/2 .p-4 .rounded-lg .text-theme-page-instructions-text .bg-theme-page-instructions-background;
}

.word-break-all {
	word-break: break-all;
}

.shadow-outline-green {
	box-shadow: 0 0 0 2px theme("colors.green");
}

.blur {
	filter: blur(4px);
}
