.vgt-right-align {
  @apply .text-right
}

.vgt-left-align {
  @apply .text-left
}

.vgt-center-align {
  @apply .text-center
}

.vgt-pull-left {
  @apply .float-left
}

.vgt-pull-right {
  @apply .float-right
}

.vgt-clearfix::after {
  @apply .block;
  content: "";
  clear: both;
}

.vgt-responsive {
  @apply .w-full .overflow-x-auto
}

.vgt-text-disabled {
  @apply .text-theme-page-text-light
}

.vgt-wrap {
  @apply .relative
}

.vgt-table {
  @apply .w-full .min-w-full .bg-transparent;
  table-layout: auto;
  border-collapse: collapse;
}

.vgt-table.vgt-fixed-header {
  @apply .absolute .z-10
}

.vgt-table th {
  @apply .py-2 .text-theme-page-text-light .relative .align-bottom .pr-1 .font-semibold .text-sm .cursor-pointer
}

.vgt-table th:hover {
  @apply .text-theme-page-text
}

.vgt-table th.no-sort:hover {
  @apply .text-theme-page-text-light .cursor-default
}

.vgt-table th.not-sortable:hover {
  @apply .text-theme-page-text-light .cursor-default;
}

.vgt-table th.sorting {
  @apply .flex .items-center .whitespace-no-wrap
}

.vgt-table th.vgt-right-align.sorting {
  @apply .justify-end
}

.vgt-table th.vgt-right-align.text-center {
  @apply .justify-center
}

.vgt-table th.vgt-right-align.text-left {
  @apply .justify-start
}

.vgt-table th.sorting-asc:after {
  @apply .inline-block .ml-1;
  background: url('../assets/images/arrows/sort-asc.svg') no-repeat;
  width: 12px;
  height: 12px;
  content: "";
}

.vgt-table th.sorting-desc:after {
  @apply .inline-block .ml-1;
  background: url('../assets/images/arrows/sort-desc.svg') no-repeat;
  width: 12px;
  height: 12px;
  content: "";
}

.vgt-table td {
  @apply .py-4 .text-theme-page-text .border-b .border-dashed .border-theme-line-separator
}

.vgt-table tr.clickable {
  cursor: pointer;
}

.vgt-table tr.clickable:hover {
  @apply .bg-theme-table-row-hover
}

.vgt-table tr:last-child > td {
  @apply .border-0
}

.vgt-table tr > td:not(:last-child),
.vgt-table tr > th:not(:last-child) {
  @apply .pr-5
}

.vgt-wrap__footer {
  @apply .flex .items-center .justify-between .mt-5 .mb-2
}

.vgt-wrap__footer .footer__row-count {
  @apply .flex-1 .flex .items-center
}

.vgt-wrap__footer .footer__row-count__label {
  @apply .text-theme-page-text
}

.vgt-wrap__footer .footer__row-count__select {
  @apply .bg-transparent .ml-1 .text-theme-page-text .font-semibold .cursor-pointer
}

.vgt-wrap__footer .footer__navigation {
  @apply .text-right .flex .items-center
}

.vgt-wrap__footer .footer__navigation .footer__navigation__info {
  @apply .mx-2 .text-theme-page-text-light
}

.vgt-wrap__footer .footer__navigation__page-btn {
  @apply .blue-button .py-2 .px-4
}

.vgt-wrap__footer .footer__navigation__page-btn.disabled {
  @apply .action-button .py-2 .px-4 .cursor-not-allowed
}

.vgt-inner-wrap.is-loading {
  @apply .hidden
}
