.vgt-right-align {
  @apply .text-right
}

.vgt-left-align {
  @apply .text-left
}

.vgt-center-align {
  @apply .text-center
}

.vgt-pull-left {
  @apply .float-left
}

.vgt-pull-right {
  @apply .float-right
}

.vgt-clearfix::after {
  @apply .block;
  content: "";
  clear: both;
}

.vgt-responsive {
  @apply .w-full .overflow-x-auto
}

.vgt-text-disabled {
  @apply .text-theme-page-text-light
}

.vgt-wrap {
  @apply .relative
}

.vgt-table {
  @apply .w-full .min-w-full .bg-transparent;
  table-layout: auto;
  border-collapse: collapse;
}

.vgt-table.vgt-fixed-header {
  @apply .absolute .z-10
}

.vgt-table th {
  @apply .py-2 .text-theme-page-text-light .relative .align-bottom .pr-1 .font-semibold
}

.vgt-table th:hover {
  @apply .text-theme-page-text
}

.vgt-table th.sorting {
  @apply .cursor-pointer
}

.vgt-table th.sorting-asc:after {
  @apply .inline-block .ml-1;
  background: url('../assets/images/arrows/sort-asc.svg') no-repeat;
  width: 12px;
  height: 12px;
  content: "";
}

.vgt-table th.sorting-desc:after {
  @apply .inline-block .ml-1;
  background: url('../assets/images/arrows/sort-desc.svg') no-repeat;
  width: 12px;
  height: 12px;
  content: "";
}

.vgt-table td {
  @apply .py-4 .text-theme-page-text .border-b .border-dashed .border-theme-line-separator
}

.vgt-table tr > td:not(:last-child),
.vgt-table tr > th:not(:last-child) {
  @apply .pr-5
}
