/**
 * Theme colors
 */
.theme-light {
  --theme-page: #edf4f5;
  --theme-page-text: #3b4559;
  --theme-page-text-light: #9ea7bc;

  --theme-header-text: #2b3748;

  --theme-feature: white;
  --theme-feature-item-text: #c0cddf;
  --theme-feature-item-hover: #fef4f5;
  --theme-feature-item-hover-alternative: #f0f2f9;
  --theme-feature-item-hover-text: #e6b1b5;
  --theme-feature-item-selected: #fef4f5;
  --theme-feature-item-selected-text: #ce6970;
  --theme-feature-item-indicator: #f03643;

  --theme-button: #e0f0fd;
  --theme-button-text: #037cff;
  --theme-action-button: #eff0f6;
  --theme-action-button-text: #8d93ad;
  --theme-action-button-text-hover: #789fba;
  --theme-option-button: #3d456d;
  --theme-option-button-hover: #cc5e60;
  --theme-option-button-text: #8894cf;
}

.theme-dark {
  --theme-page: #23252c;
  --theme-page-text: #787fa3;
  --theme-page-text-light: #404457;

  --theme-header-text: #787fa3;

  --theme-feature: #2d2f38;
  --theme-feature-item-text: #5a5e7a;
  --theme-feature-item-hover: #403645;
  --theme-feature-item-hover-alternative: #403645;
  --theme-feature-item-hover-text: #d890af;
  --theme-feature-item-selected: #403645; /* TODO: same as hover */
  --theme-feature-item-selected-text: #c6799a;
  --theme-feature-item-indicator: #f03643;

	--theme-button: #383c4d;
  --theme-button-text: #919eca;
  --theme-action-button: #333644;
  --theme-action-button-text: #4c5166;
  --theme-action-button-text-hover: #7983af;
  --theme-option-button: #383c4d;
  --theme-option-button-hover: #cc5e60;
  --theme-option-button-text: #5b627c;
}
