/**
 * Theme colors
 */
.theme-light {
  --theme-page: #edf4f5;
  --theme-page-text: #3b4559;
  --theme-page-text-light: #9ea7bc;
  --theme-page-instructions-text: #3b4559;
  --theme-page-instructions-background: rgba(200,200,200,0.4);
  --theme-modal: #ffffff;

  --theme-header-text: #2b3748;
  --theme-caption-text: #000;
  --theme-caption-read: #8795a1;
  --theme-announcements-gradient-1: rgba(255,255,255,0);
  --theme-announcements-gradient-2: rgba(255,255,255,0.95);

  --theme-line-separator: #dae1e7;
  --theme-wallet-overview-border: #dae1e7;

  --theme-table-row-hover: #f8f9fd;
  --theme-transaction-sent: #fef4f5;
  --theme-transaction-sent-arrow: #e51317;
  --theme-transaction-received: #e3fcec;
  --theme-transaction-received-arrow: #2db761;
  --theme-send-circle-second-signature: #6c5494;
  --theme-send-circle-second-signature-text: #3b2d54;
  --theme-send-circle-register-delegate: #d24562;
  --theme-send-circle-register-delegate-text: #ffffff;
  --theme-send-circle-vote: #e393a6;
  --theme-send-circle-vote-text: #954458;
  --theme-transaction-detail-gradient1: #46466b;
  --theme-transaction-detail-gradient2: #343a53;
  --theme-transaction-detail-arrow: #4d536c;
  --theme-transaction-confirmed: var(--theme-transaction-received-arrow);
  --theme-transaction-unconfirmed: var(--theme-transaction-sent-arrow);

  --theme-wallet-new-selected: #282a2b;
  --theme-wallet-new-unselected: #9ea7bc;

  --theme-feature: white;
  --theme-feature-item-text: #c0cddf;
  --theme-feature-item-hover: #fef4f5;
  --theme-feature-item-alternative: #f0f2f9;
  --theme-feature-item-alternative-text: #8b9bab;
  --theme-feature-item-hover-text: #e6b1b5;
  --theme-feature-item-selected: #fef4f5;
  --theme-feature-item-selected-text: #ce6970;
  --theme-feature-item-indicator: #f03643;

  --theme-button-special-choice: #e78068;

  --theme-heading-background: #343956;

  --theme-chart-background: #f8fafc;
  --theme-chart-price: #3b4559;

  --theme-button: #e0f0fd;
  --theme-button-text: #037cff;
  --theme-button-light: #f1f5f8;
  --theme-button-light-text: #8795a1;
  --theme-button-inner-box: #c6dcee;
  --theme-action-button: #eff0f6;
  --theme-action-button-text: #8d93ad;
  --theme-action-button-text-hover: #789fba;
  --theme-option-button: #3d456d;
  --theme-option-button-hover: #cc5e60;
  --theme-option-button-text: #8894cf;
  --theme-input-toggle-choice: #f1f5f8;
  --theme-input-toggle-choice-text: #606f7b;
  --theme-modal-footer-button: #e7d28e;
  --theme-modal-footer-button-text: #b3a36f;

  --theme-explanation-background: #e2edf8;
  --theme-explanation-text: #7f95ab;

  --theme-voting-banner-background: #e2edf8;
  --theme-voting-banner-text: #7f95ab;
  --theme-voting-banner-button: #cfddec;
  --theme-voting-banner-button-hover: #b1c9e2;
  --theme-voting-banner-button-text: #90a9c6;
  --theme-voting-banner-button-text-hover: #6785a9;

  --theme-error: rgb(236, 27, 56);
  --theme-error-shadow: rgba(236, 27, 56, 0.5);
  --theme-success: rgb(59, 177, 92);
  --theme-success-shadow: rgba(59, 177, 92, 0.5);
  --theme-info: rgb(33, 153, 229);
  --theme-info-shadow: rgba(33, 153, 229, 0.5);
  --theme-warn: rgb(229, 167, 33);
  --theme-warn-shadow: rgba(229, 167, 33, 0.5);
  --theme-warn-text: rgb(176, 59, 18);

  --theme-fee-gradient-start: var(--theme-modal);
  --theme-fee-gradient-end: rgba(0,124,255,0.20);
  --theme-fee-handler-outside: var(--theme-button-text);
  --theme-fee-handler-inside: var(--theme-modal);
  --theme-fee-range-track: var(--theme-page-text-light);
  --theme-fee-range-track-active: var(--theme-button-text);
	--theme-fee-range-shadow: rgba(9, 100, 228, 0.34);
}

.theme-dark {
  --theme-page: #23252c;
  --theme-page-text: #787fa3;
  --theme-page-text-light: #404457;
  --theme-page-instructions-text: #ffffff;
  --theme-page-instructions-background: rgba(255,255,255,0.2);
  --theme-modal: #23252c;

  --theme-header-text: #787fa3;
  --theme-caption-text: #d7d9e7;
  --theme-caption-read: #787fa3;
  --theme-announcements-gradient-1: rgba(45,47,56,0);
  --theme-announcements-gradient-2: rgba(45,47,56,0.95);

  --theme-line-separator: #404457;
  --theme-wallet-overview-border: #232425;

  --theme-table-row-hover: #2a2b31;
  --theme-transaction-sent: #4b3944;
  --theme-transaction-sent-arrow: #e95c51;
  --theme-transaction-received: #2d3f3b;
  --theme-transaction-received-arrow: #639873;
  --theme-send-circle-second-signature: #6c5494;
  --theme-send-circle-second-signature-text: #3b2d54;
  --theme-send-circle-register-delegate: #d24562;
  --theme-send-circle-register-delegate-text: #ffffff;
  --theme-send-circle-vote: #e393a6;
  --theme-send-circle-vote-text: #954458;
  --theme-transaction-detail-gradient1: #46466b;
  --theme-transaction-detail-gradient2: #343a53;
  --theme-transaction-detail-arrow: #4d536c;

  --theme-wallet-new-selected: #787fa3;
  --theme-wallet-new-unselected: #404457;

  --theme-feature: #2d2f38;
  --theme-feature-item-text: #5a5e7a;
  --theme-feature-item-hover: #403645;
  --theme-feature-item-alternative: #363844;
  --theme-feature-item-alternative-text: #5d6483;
  --theme-feature-item-selected: #403645; /* TODO: same as hover */
  --theme-feature-item-selected-text: #c6799a;
  --theme-feature-item-indicator: #f03643;

  --theme-button-selected-choice: #e78068;

  --theme-heading-background: #31333d;
  --theme-chart-price: white;
  --theme-chart-background: #373a43;

	--theme-button: #383c4d;
  --theme-button-text: #919eca;
  --theme-button-light: #4e5477;
  --theme-button-light-text: #8795a1;
  --theme-button-inner-box: #333645;
  --theme-action-button: #333644; 
  --theme-action-button-text: #4c5166;
  --theme-action-button-text-hover: #7983af;
  --theme-option-button: #383c4d;
  --theme-option-button-hover: #cc5e60;
  --theme-option-button-text: #5b627c;
  --theme-input-toggle-choice: #333644;
  --theme-input-toggle-choice-text: #4c5166;
  --theme-modal-footer-button: #e7d28e;
  --theme-modal-footer-button-text: #b3a36f;

  --theme-explanation-background: #363844;
  --theme-explanation-text: #707698;

  --theme-voting-banner-background: #363844;
  --theme-voting-banner-text: #707698;
  --theme-voting-banner-button: #23252c;
  --theme-voting-banner-button-hover: #2a2b31;
  --theme-voting-banner-button-text: #787fa3;
  --theme-voting-banner-button-text-hover: #787fa3;

  --theme-error: rgb(236, 27, 56);
  --theme-error-shadow: rgba(236, 27, 56, 0.5);
  --theme-success: rgb(59, 177, 92);
  --theme-success-shadow: rgba(59, 177, 92, 0.5);
  --theme-info: rgb(33, 153, 229);
  --theme-info-shadow: rgba(33, 153, 229, 0.5);
  --theme-warn: rgb(229, 167, 33);
  --theme-warn-shadow: rgba(229, 167, 33, 0.5);
  --theme-warn-text: rgb(176, 59, 18);

  --theme-fee-gradient-start: var(--theme-modal);
  --theme-fee-gradient-end: rgba(0,124,255,0.20);
  --theme-fee-handler-outside: var(--theme-button-text);
  --theme-fee-handler-inside: var(--theme-modal);
  --theme-fee-range-track: var(--theme-page-text-light);
  --theme-fee-range-track-active: var(--theme-button-text);
}
