.theme-light {
  --theme-page-text: #3b4559;
  --theme-page-text-light: #9ea7bc;
  --theme-line-separator: #dae1e7;
  --theme-switch-button: #d1dfeb;
  --theme-switch-button-circle: #a2b0f5;
}

.theme-dark {
  --theme-page-text: #787fa3;
  --theme-page-text-light: #585c6f;
  --theme-line-separator: #585c6f;
  --theme-switch-button: #383c4d;
  --theme-switch-button-circle: #5b627c;
}
