[class*="text-ark-"] {
  @apply text-logo;
}

[class*="border-ark-"] {
  @apply border-theme-danger-200;
}

[class*="text-bitcoin-"] {
  @apply text-theme-warning-400;
}

[class*="border-bitcoin-"] {
  @apply border-theme-warning-200;
}

[class*="text-ethereum-"] {
  @apply text-theme-neutral-900;
}

[class*="border-ethereum-"] {
  @apply border-theme-neutral-300;
}
