@font-face {
	font-family: "Inter";
	src: url("../app/assets/fonts/Inter-Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: url("../app/assets/fonts/Inter-Medium.otf");
	font-weight: 500;
}

@font-face {
	font-family: "Inter";
	src: url("../app/assets/fonts/Inter-SemiBold.otf");
	font-weight: 600;
}

@font-face {
	font-family: "Inter";
	src: url("../app/assets/fonts/Inter-Bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: "Inter";
	src: url("../app/assets/fonts/Inter-ExtraBold.otf");
	font-weight: 800;
}
