<div ng-if="depositInfo" class="row">
    <div class="col-md-12">
        {{DepositStatus.status}}
    </div>
    <div class="col-md-3">
        <qrcode version="20" error-correction-level="H" size=200 data="{{depositInfo.depositQR}}"></qrcode>
    </div>
    <div class="col-md-5">
        <div>Deposit Type: {{depositInfo.depositType}}</div>
        <div ng-if="depositInfo.depositAmount">充值额度: {{depositInfo.depositAmount}}</div>
        <div>充值地址: {{depositInfo.deposit}}</div>
        <div>提现类型: {{depositInfo.withdrawalType}}</div>
        <div>提现地址: {{depositInfo.withdrawal}}</div>
        <div ng-if="depositInfo.withdrawalAmount">提现额度: {{depositInfo.withdrawalAmount}}</div>
        <div ng-if="depositInfo.quotedRate">利率: {{depositInfo.quotedRate}}</div>
        <div ng-if="depositInfo.minerFee">矿工费用: {{depositInfo.minerFee}}</div>
        <div ng-if="depositInfo.expiration">到期至: {{depositInfo.expiration}}</div>
    </div>
</div>