<md-content id="home-box-network" style="opacity:0.9; border-radius:10px; width: 360px; margin:10px;" md-whiteframe="3">
  <md-list flex>
    <md-list-item>
      <b translate>Network</b>
      <md-button class="md-secondary" aria-label="Switch Network" md-prevent-menu-close ng-click="$ctrl.ul.switchNetwork()">{{$ctrl.ul.connectedPeer.network}}/{{$ctrl.ul.connectedPeer.height}}</md-button>
    </md-list-item>
    <md-list-item>
      <b translate>Peer</b>
      <md-button class="md-secondary" aria-label="Pick Random Peer" md-prevent-menu-close ng-click="$ctrl.ul.pickRandomPeer()">{{$ctrl.ul.connectedPeer.ip}}</md-button>
    </md-list-item>
    <md-list-item>
      <b translate>Last checked</b> <span class="md-secondary">{{$ctrl.ul.connectedPeer.lastConnection | date:'shortTime'}}</span>
    </md-list-item>
  </md-list>
</md-content>
