<md-toolbar layout="row" md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h2 md-no-underline>
      <md-select ng-model="$ctrl.selectedAccountType" ng-change="$ctrl.refreshAccounts()" aria-label="Select type of accounts to display">
        <md-option ng-value="type"
                   ng-repeat="type in $ctrl.accountTypes">
          {{type.title}}
          {{$ctrl.ac.network.symbol}} {{$ctrl.getTotalBalance(type)}}
          <span ng-show="$ctrl.ac.showExchangeRate()">/ {{$ctrl.currencyBalance(type) | formatCurrency:$ctrl.ac:true}}</span>
        </md-option>
      </md-select>
    </h2>
    <span flex></span>

    <md-button class="md-small bitcoin-toggle"
               ng-click="$ctrl.ac.toggleBitcoinCurrency()"
               ng-hide="$ctrl.ac.currency.name === 'btc'"
               ng-if="$ctrl.accountCtrl.connectedPeer.market.available_supply">
      <md-tooltip md-direction="top">
        {{'Toggle' | translate}} {{$ctrl.ac.toggleCurrency.name | uppercase}}
      </md-tooltip>
      <md-icon md-svg-icon="bitcoin_toggle"></md-icon>
    </md-button>
    <md-button ng-class="{'rotate-360': $ctrl.selectedAccountType.refreshState.isRefreshing}"
               class="share"
               ng-click="$ctrl.refreshAccounts(true)"
               aria-label="Refresh balances">
      <md-icon md-font-library="material-icons">cached</md-icon>
    </md-button>
  </div>
</md-toolbar>
<div style="min-height: 100px; max-height: 304px; height: auto; border-radius:0 0 10px 10px" layout="column" >
  <md-toolbar class="md-hue-2" style="min-height: 50px;">
    <div class="md-toolbar-tools" style="min-height: 50px; height: 50px;">
      <md-button ng-click="$ctrl.selectedAccountType.importAccount()" ng-if="$ctrl.selectedAccountType.importAccount">
        <md-icon>file_download</md-icon>
        {{$ctrl.selectedAccountType.importAccountText}}
      </md-button>

      <md-button ng-click="$ctrl.selectedAccountType.createAccount()">
        <md-icon>account_box</md-icon>
        {{$ctrl.selectedAccountType.createAccountText}}
      </md-button>
    </div>
  </md-toolbar>

  <md-content style="min-height: 70px;" flex>
    <md-list md-no-ink>
      <md-list-item ng-click="$ctrl.ac.selectLedgerAccount()" ng-if="$ctrl.ac.ledger.connected && $ctrl.selectedAccountType === $ctrl.myAccountsType">
        <span>
          <md-icon md-svg-icon="ledger"></md-icon>
          Ledger Nano S
        </span>
        <span class="md-secondary">
          <md-progress-circular md-diameter="30" ng-if="!$ctrl.ac.ledgerAccounts" md-mode="indeterminate"></md-progress-circular>
          <md-chip ng-if="$ctrl.ac.ledgerAccounts">{{$ctrl.ac.ledgerAccounts.length}} <translate>Accounts</translate></md-chip>
        </span>
      </md-list-item>

      <md-list-item ng-click="$ctrl.ac.selectAccount(it)"
                    ng-repeat="it in $ctrl.selectedAccountType.getDisplayAccounts() track by $index"
                    ng-if="$ctrl.selectedAccountType === $ctrl.myAccountsType">
        <span ng-class="{'selected' : it.address === $ctrl.ac.selected.address }">
          <md-icon md-font-library="material-icons">{{ it.icon }}</md-icon>
          {{it.username || it.address}}  <span ng-if="it.delegate">({{it.delegate.rate}})</span>
        </span>
        <span class="md-secondary">
          {{$ctrl.ac.network.symbol}} {{it.balance | convertToArkValue}}
        </span>
      </md-list-item>

      <md-list-item ng-click="$ctrl.ac.selectAccount(it)"
                    ng-repeat="it in $ctrl.selectedAccountType.getDisplayAccounts() track by $index"
                    ng-if="$ctrl.selectedAccountType === $ctrl.contactsType">
          <span ng-class="{'selected' : it.address === $ctrl.ac.selected.address }">
              <md-icon md-font-library="material-icons">account_circle</md-icon>
            {{it.name || it.address}}
          </span>
          <span class="md-secondary">
            {{$ctrl.ac.network.symbol}} {{it.balance | convertToArkValue}}
          </span>
        </md-list-item>
    </md-list>
  </md-content>
</div>
