<md-content id="home-box-price" md-whiteframe="3">
  <md-list>
    <md-list-item>
      <div>
        <b><translate>Price</translate></b>
      </div>
      <span class="md-secondary">{{($ctrl.market.price | formatCurrency:$ctrl.ul:$ctrl.ul.btcValueActive)}}</span>
    </md-list-item>
    <md-list-item>
      <b translate>Change 24h</b>
      <span class="md-secondary">
      <span md-colors="{'color' : $ctrl.market.change24h>=0?'default-green':'default-red' }">{{$ctrl.market.change24h | number: 3}}%</span>
      </span>
    </md-list-item>
    <md-list-item>
      <b translate>Market Cap.</b> <span class="md-secondary">{{($ctrl.market.marketCap | formatCurrency:$ctrl.ul:$ctrl.ul.btcValueActive)}}</span>
    </md-list-item>
  </md-list>
</md-content>
