<md-dialog aria-label="Vote" ng-cloak md-theme="$dialog.theme">
  <form>
    <md-toolbar ng-class="{'md-warn': $dialog.delegateToUnvote}">
      <div class="md-toolbar-tools">
        <h2 ng-if="!$dialog.delegateToUnvote">Vote</h2>
        <h2 ng-if="$dialog.delegateToUnvote">Remove Vote</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dialog.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" ng-if="!$dialog.delegateToUnvote">
          <label for="delegate-name" translate>Active delegates (forging)</label>
          <md-select id="delegate-name" ng-model="$dialog.delegate.name">
            <md-option ng-value="delegate.username"
                       ng-repeat="delegate in $dialog.activeDelegates | orderBy: '-approval'">{{delegate.username}} ({{delegate.approval}}% {{'approval'|translate}}, {{delegate.productivity}}% {{'productivity'|translate}})</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label translate>Delegate name</label>
          <input ng-disabled="$dialog.delegateToUnvote" ng-model="$dialog.delegate.name" type="text">
        </md-input-container>

        <passphrase-field ng-if="!$dialog.account.ledger" ng-model="$dialog.passphrases.first" label="Passphrase"></passphrase-field>
        <passphrase-field ng-if="$dialog.passphrases.second" ng-model="$dialog.passphrases.second" label="Second Passphrase"></passphrase-field>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="$dialog.updateDelegateVote($dialog.delegate)">
        <translate ng-if="!$dialog.account.ledger">Next</translate>
        <translate ng-if="$dialog.account.ledger">Sign with Ledger</translate>
      </md-button>
      <md-button ng-click="$dialog.cancel()" style="margin-right:20px;">
        <translate>Cancel</translate>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
