<md-toast class="announcement">
  <div class="md-toast-content">

    <div translate>News<span class="date">({{announcement.date | date: 'mediumDate'}})</span></div>

    <div>
      <a md-truncate href="#" ng-click="openExternal(announcement.url)" title="{{announcement.text}}">{{announcement.text}}</a>
    </div>

    <div>
      <md-button class="md-icon-button" title="Dismiss" aria-label="Dismiss" ng-click="dismiss()">
        <md-icon md-font-library="material-icons">clear</md-icon>
      </md-button>
    </div>

  </div>
</md-toast>
