<md-toolbar class="announcement" ng-if="announcement">
  <div class="md-toolbar-tools" layout-align="space-between center">
    <!-- TODO translation -->

    <span translate>News <span class="date">({{announcement.date | date: 'mediumDate'}})</span></span>

    <a md-truncate href="#" ng-click="openExternal(announcement.url)" title="{{announcement.text}}">{{announcement.text}}</a>

    <md-button class="md-icon-button" title="Dismiss" aria-label="Dismiss" ng-click="dismiss()">
      <md-icon md-font-library="material-icons">clear</md-icon>
    </md-button>

  </div>
</md-toolbar>
