<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ARK Desktop Wallet</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- CSS used by plugin themes would be here -->
    <style name="plugins">
    </style>

    <script type="text/javascript" src="renderer.js"></script>
    <script>
      const { ipcRenderer } = require('electron')
      const showLoadingWindowOnReload = event => {
        if (event.key === 'F5') {
          ipcRenderer.send('show-loading-window-on-reload')
        }

        return false
      }

      window.addEventListener('keyup', showLoadingWindowOnReload, true)
    </script>
  </body>
</html>
