<md-bottom-sheet class="md-grid" layout="column">
  <div layout="row" layout-align="center center" ng-cloak>
    <h2 ng-if="bs.label">{{bs.label}} ({{bs.address}})</h2>
    <h2 ng-if="! bs.label">{{bs.address}}</h2>
  </div>
  <div ng-cloak>
    <md-list flex layout="row" layout-align="center center">
      <md-list-item ng-repeat="item in bs.items">
        <div>
          <md-button ng-click="bs.answer(item.name)">
            <md-icon md-font-library="material-icons">{{ item.icon }}</md-icon>
            <h3>{{item.name}}</h3>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>
