<md-tab>
  <md-tab-label>
    <translate>Purchase</translate> {{ $ctrl.ul.network.cmcTicker || $ctrl.ul.network.token }}
  </md-tab-label>
  <md-tab-body>
    <div class="exchange-tab" layout="row" layout-align="center center" layout-margin>

      <div ng-if="!$ctrl.enabledConfirmed" flex="50" style="text-align: center" layout-align="space-between center" layout-margin>
        <div class="changelly-logo">
          <a open-external="'https://changelly.com'" title="Changelly">
            <img ng-src="{{ $ctrl.changellyLogo }}" title="Changelly" alt="Changelly"/>
          </a>
        </div>

        <div class="changelly-terms">
          <p translate style="padding: 0 30px;text-align: justify;line-height: 1.5">Purchase ARK directly within ARK Desktop Wallet with our Changelly integration.
            Changelly lets you exchange other cryptocurrencies into ARK and has an option
            to buy ARK directly with your credit or debit cards.</p>
          <md-checkbox ng-model="$ctrl.changellyEnabled" aria-label="I accept Changelly terms, conditions and private policy" md-theme="$ctrl.ul.currentTheme" style="margin-top:20px">
          </md-checkbox>
          I have read an I agree with the <a open-external="'https://changelly.com/terms-of-use'" title="Terms of use">terms of use</a> and the <a open-external="'https://changelly.com/privacy-policy'" title="Privacy policy">privacy policy</a> from Changelly
        </div>

        <md-button md-theme="$ctrl.ul.currentTheme" class="md-primary md-raised" ng-click="$ctrl.enabledConfirmed = true" ng-disabled="!$ctrl.changellyEnabled" style="margin-top:20px;">
          <translate>Continue</translate>
        </md-button>
      </div>

      <div ng-if="$ctrl.enabledConfirmed" flex style="text-align: center" layout-align="space-between center" layout-margin>
        <iframe ng-src="{{ $ctrl.changellySrc }}" width="600" height="500" class="changelly" scrolling="no" style="overflow-y: hidden; border: none" > Can't load widget </iframe>
      </div>
    </div>

  </md-tab-body>
</md-tab>
