<md-tab>
  <md-tab-label>
    <translate>Purchase</translate> {{ $ctrl.ul.network.cmcTicker || $ctrl.ul.network.token }}
  </md-tab-label>
  <md-tab-body>
    <div layout="row" layout-align="space-between center" layout-margin>

      <div flex style="text-align: center">
        <iframe ng-src="{{ $ctrl.changellySrc }}" width="600" height="500" class="changelly" scrolling="no" style="overflow-y: hidden; border: none" > Can't load widget </iframe>
      </div>
    </div>

  </md-tab-body>
</md-tab>
