<md-tab>
  <md-tab-label>
    <translate>Exchange</translate>
  </md-tab-label>
  <md-tab-body>
    <h1>
      <translate>Coming Soon</translate>
    </h1>
    <!--

    <md-card flex="100">
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-sm card-media" layout layout-align="center center" >
            <md-icon md-font-library="material-icons" ng-style="{'font-size': '48px', 'height':'48px', 'width':'48px'}">info</md-icon>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <span>
            <translate>Deposit and Withdraw through our partner</translate> <a href="#" onclick='require("electron").shell.openExternal("https://changer.com")'>changer.com</a>. <translate>By using the following forms, you are accepting their</translate> <a href="#" onclick='require("electron").shell.openExternal("https://www.changer.com/about")' translate>Terms and Conditions</a>.
            <translate>Please report any issue to</translate> <a href="mailto:support@changer.com">support@changer.com</a>
          </span>
          <div layout="row">
            <md-input-container flex="40" class="no-errors">
              <label translate>Your email, used to send confirmation</label>
              <input type="email" ng-model="ul.exchangeEmail">
            </md-input-container>
            <span flex="20"></span>
            <md-select flex="40" ng-change="ul.getMarketInfo(ul.selectedCoin)" ng-model="ul.selectedCoin">
              <md-option ng-value="it.symbol" ng-repeat="it in ul.getCoins()">
                {{it.name}}
              </md-option>
            </md-select>
          </div>
        </md-card-title-text>
      </md-card-title>

    </md-card>
    <md-content layout="row">
      <md-card flex="50">
        <md-toolbar>
          <h2 class="md-toolbar-tools">
            <span><translate>Deposit ARK</translate> - {{(1/ul.buycoin.rate).toFixed(5)}} {{ul.selectedCoin.split("_")[1]}}</span>
          </h2>
        </md-toolbar>
        <md-list ng-if="!ul.exchangeBuy">
          <md-list-item>
            <translate>Minimum:</translate>&nbsp;{{(ul.buycoin.limits.min_amount*ul.buycoin.rate).toFixed(1)}} ARK &nbsp;
            <translate>Maximum:</translate>&nbsp;{{(ul.buycoin.limits.max_amount*ul.buycoin.rate).toFixed(1)}} ARK
          </md-list-item>
          <md-list-item>
            <md-input-container>
              <label>{{'Amount'|translate}} (ARK)</label>
              <input  ng-model="ul.buyAmount" min="{{(ul.buycoin.limits.min_amount*ul.buycoin.rate).toFixed(1)}}" max="{{(ul.buycoin.limits.max_amount*ul.buycoin.rate).toFixed(1)}}" type="number">
            </md-input-container>

          </md-list-item>
        </md-list>


        <md-list ng-if="ul.exchangeBuy">
          <md-list-item>
            <translate>Send</translate> {{ul.exchangeBuy.send_amount}} {{ul.exchangeBuy.sendCurrency}} <translate>to</translate>
          </md-list-item>
          <md-list-item>
            <b class="md-secondary">{{ul.exchangeBuy.payee}}</b>
          </md-list-item>
          <md-list-item>
            <translate>Receive</translate> {{ul.exchangeBuy.receive_amount}} ARK <translate>to</translate>
          </md-list-item>
          <md-list-item>
            <b class="md-secondary">{{ul.exchangeBuy.receiver_id}}</b>
          </md-list-item>
          <md-list-item>
            <translate>Valid until</translate> <span class="md-secondary">{{ul.exchangeBuy.expirationDate | date:'shortTime'}}</span>
          </md-list-item>
          <md-list-item>
            <md-progress-linear md-mode="determinate" value="{{ul.exchangeBuy.expirationProgress}}"></md-progress-linear>
          </md-list-item>
          <md-list-item ng-if="ul.exchangeBuy.batch_required">
            <md-input-container>
              <label translate>Transaction id</label>
              <input ng-model="ul.exchangeTransactionId" type="text">
            </md-input-container>
            <md-button class="md-secondary" ng-click="ul.sendBatch()" md-colors="{background:'red'}">Send</md-button>
          </md-list-item>
          <md-list-item ng-if="ul.exchangeBuy.monitor">
            <translate>Status:</translate> {{ul.exchangeBuy.monitor.status}}
          </md-list-item>
        </md-list>

        <md-card-footer>
          <md-button ng-if="!ul.exchangeBuy" md-colors="{background:'green'}" ng-click="ul.buy()"><translate>Next...</translate></md-button>
          <md-button ng-if="ul.exchangeBuy" md-colors="{background:'red'}" ng-click="ul.cancelExchange()"><translate>Cancel</translate></md-button>
        </md-card-footer>

      </md-card>


      <md-card flex="50">
        <md-toolbar>
          <h2 class="md-toolbar-tools">
            <span><translate>Withdraw ARK</translate> - {{ul.sellcoin.rate.toFixed(5)}} {{ul.selectedCoin.split("_")[1]}} </span>
          </h2>
        </md-toolbar>
          <md-card-title ng-if="!ul.selected.virtual"><translate>Please login with your account before using this feature</translate></md-card-title>
          <md-list ng-if="!ul.exchangeSell&&ul.selected.virtual">
            <md-list-item>
              <translate>Minimum:</translate>&nbsp;{{(ul.sellcoin.limits.min_amount).toFixed(1)}} ARK &nbsp;
              <translate>Maximum:</translate>&nbsp;{{(ul.sellcoin.limits.max_amount).toFixed(1)}} ARK
            </md-list-item>
            <md-list-item>
              <md-input-container>
                <label>{{'Amount'|translate}} (ARK)</label>
                <input ng-model="ul.sellAmount" min="{{(ul.sellcoin.limits.min_amount).toFixed(1)}}" max="{{(ul.sellcoin.limits.max_amount).toFixed(1)}}" type="number">
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <md-input-container>
                <label><translate>Recipient Address</translate> ({{ul.selectedCoin.split('_')[1]}})</label>
                <input flex="100" ng-model="ul.recipientAddress" type="text">
              </md-input-container>
            </md-list-item>

            <md-list-item>
              <md-input-container>
                <label translate>Passphrase</label>
                <input flex="100" ng-model="ul.passphrase" type="text">
              </md-input-container>
            </md-list-item>

            <md-list-item ng-if="ul.selected.secondSignature">
              <md-input-container>
                <label translate>Second Passphrase</label>
                <input flex="100" ng-model="ul.secondpassphrase" type="text">
              </md-input-container>
            </md-list-item>

          </md-list>

          <md-list ng-if="ul.exchangeSell&&ul.selected.virtual">
            <md-list-item>
              <translate>Send</translate> {{ul.exchangeSell.send_amount}} ARK <translate>to</translate>
            </md-list-item>
            <md-list-item>
              <b class="md-secondary">{{ul.exchangeSell.payee}}</b>
            </md-list-item>
            <md-list-item>
              <translate>Receive</translate> {{ul.exchangeSell.receive_amount}} {{ul.exchangeSell.receiveCurrency}} <translate>to</translate>
            </md-list-item>
            <md-list-item>
              <b class="md-secondary">{{ul.exchangeSell.receiver_id}}</b>
            </md-list-item>
            <md-list-item>
              <translate>Valid until</translate> <span class="md-secondary">{{ul.exchangeSell.expirationDate | date:'shortTime'}}</span>
            </md-list-item>
            <md-list-item>
              <md-progress-linear md-mode="determinate" value="{{ul.exchangeSell.expirationProgress}}"></md-progress-linear>
            </md-list-item>
            <md-list-item ng-if="ul.exchangeSell.monitor">
              <translate>Status:</translate> {{ul.exchangeSell.monitor.status}}
            </md-list-item>
          </md-list>

          <md-card-footer>
            <md-button ng-if="ul.selected.virtual&&!ul.exchangeSell" ng-click="ul.sell()" md-colors="{'background':'red'}"><translate>Next...</translate></md-button>
            <md-button ng-if="ul.selected.virtual&&ul.exchangeSell&&!ul.exchangeSell.sentTransaction" md-colors="{background:'red'}" ng-click="ul.exchangeArkNow(ul.exchangeSellTransaction)"><translate>Send</translate> {{ul.exchangeSell.send_amount}}ARK <translate>now!</translate></md-button>
            <md-button ng-if="ul.selected.virtual&&ul.exchangeSell&&!ul.exchangeSell.sentTransaction" ng-click="ul.cancelExchange()"><translate>Cancel</translate></md-button>
            <md-button ng-if="!ul.selected.virtual" md-colors="{background:'green'}" ng-click="ul.createFolder(ul.selected)"><translate>Login</translate></md-button>
          </md-card-footer>

      </md-card>

    </md-content>
    <md-content>
      <h1 translate>History</h1>

      <md-table-container>
        <table md-table ng-model="ul.exchangeHistory">
          <thead md-head>
            <tr md-row>
              <th md-column><translate>Date</translate></th>
              <th md-column><translate>Details</translate></th>
              <th md-column><translate>Status</translate></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-colors="{background:it.status.status=='processed'?'green-200':'grey-100'}" md-row ng-repeat="it in ul.exchangeHistory | orderBy : exchange.expiration : true">
              <td md-cell>{{(it.status.processed_time || it.status.exchange_time || it.exchange.expiration) | exchangedate | date: 'medium'}}</td>
              <td md-cell>{{it.exchange.send_amount}} {{it.exchange.pair.send}} -> {{it.status.receive_amount || it.exchange.receive_amount}} {{it.exchange.pair.receive}}</td>
              <td md-cell>{{it.status.status}} <md-button md-colors="{background:'green'}" ng-if="it.status.status=='processing'" ng-click="ul.refreshExchange(it.exchange)"><translate>Refresh</translate></md-button></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-content>

    -->
  </md-tab-body>
</md-tab>
