<md-tab label="{{'Transactions'|translate}}">
  <md-table-container flex="100" class="tx-list-container">
    <table md-table id="tx-list">
      <thead md-head md-order="query.order">
        <tr md-row>
          <th md-column md-numeric>
            <translate>Id</translate>
          </th>
          <th md-column md-numeric>
            <translate>Confirmations</translate>
          </th>
          <th md-column md-numeric md-order-by="timestamp">
            <translate>Date</translate>
          </th>
          <th md-column md-numeric md-order-by="total">
            <translate>Total</Translate> {{$ctrl.ul.network.symbol}}</th>
          <th md-column md-numeric translate>From</th>
          <th md-column md-numeric translate>To</th>
          <th md-column translate>Smartbridge</th>
        </tr>
      </thead>
      <tbody md-body style="white-space:nowrap;" infinite-scroll="$ctrl.transactionsCtrl.loadNext()" infinite-scroll-disabled='$ctrl.transactionsCtrl.isBusy' infinite-scroll-container='".tx-list-container"'>
        <tr md-row md-select="transaction" md-select-id="id" md-auto-select ng-repeat="it in $ctrl.transactionsCtrl.transactions | orderBy: query.order | limitTo: $ctrl.transactionsCtrl.pageSize track by it.id">
          <td md-cell><a href="" ng-click="$ctrl.ul.openExplorer('/tx/'+it.id)" md-colors="::{color: '{{ $ctrl.ul.network.themeDark ? 'background-200' : 'background-800' }}'}">{{it.id | smallId}}</a></td>
          <td md-cell ng-if="it.confirmations <= 50">{{it.confirmations}}</td>
          <td md-cell ng-if="it.confirmations > 50">
            <translate>Well Confirmed</translate>
            <md-tooltip>{{it.confirmations | number: 0}} <translate>Confirmations</translate></md-tooltip>
          </td>
          <td md-cell>{{it.date | date: 'short'}}</td>
          <td ng-if="it.recipientId==it.senderId && it.type==0" md-cell>
            <md-button disabled md-colors="{'background' : 'default-blue-grey-600' }">{{ '+' + ((it.amount/$ctrl.ul.ARKTOSHI_UNIT)) + ' / -' + (it.fee/$ctrl.ul.ARKTOSHI_UNIT) }}</md-button>
          </td>
          <td ng-if="it.type>0" md-cell>
            <md-button disabled md-colors="{'background' : 'default-blue-grey-600' }">{{it.humanTotal}}</md-button>
          </td>
          <td ng-if="it.total>=0 && it.recipientId!=it.senderId" md-cell>
            <md-button disabled md-colors="{'background' : 'default-green-200' }">+{{it.humanTotal}}</md-button>
          </td>
          <td ng-if="it.total<0 && it.recipientId!=it.senderId && it.type==0" md-cell>
            <md-button disabled md-colors="{'background' : 'default-red-200' }">{{it.humanTotal}}</md-button>
          </td>
          <td md-cell><a href="" ng-click="$ctrl.ul.gotoAddress(it.senderId)" md-colors="::{color: '{{ $ctrl.ul.network.themeDark ? 'background-200' : 'background-800' }}'}">{{it.senderId | accountlabel}}</a></td>
          <td md-cell>
            <a href="" ng-if="it.type==0" ng-click="$ctrl.ul.gotoAddress(it.recipientId)" md-colors="::{color: '{{ $ctrl.ul.network.themeDark ? 'background-200' : 'background-800' }}'}">{{it.recipientId | accountlabel}}</a>
            <span ng-if="it.type>0">{{it.label}}</span>
          </td>
          <td md-cell>{{it.vendorField}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-tab>
