<md-dialog aria-label="{{'Transactions'|translate}} {{network.token}}" ng-cloak md-theme="ac.currentTheme">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate>Transactions</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="validate.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <md-list>
          <md-list-item>
            <b translate>Sender address</b><span class="md-secondary">{{validate.senderAddress | accountLabel}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>Amount</b><span class="md-secondary">{{ac.network.symbol}} {{validate.humanAmount}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>Fees</b><span class="md-secondary">{{ac.network.symbol}}{{validate.totalFees}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>Total amount (with fees)</b><span class="md-secondary">{{ac.network.symbol}}{{validate.totalAmount}}</span>
          </md-list-item>
          <md-list-item>
            <b translate>Remaining balance</b><span class="md-secondary">{{ac.network.symbol}} {{validate.remainingBalance}}</span>
          </md-list-item>
        </md-list>

        <md-card ng-if="validate.status === 'ok'" md-colors="{'background': 'green-100'}" flex="100">
          <md-card-title>
            <md-card-title-text>
              <span translate>All transactions have succeed</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <md-card ng-if="validate.status === 'cancelled'" md-colors="{'background': 'yellow-100'}" flex="100">
          <md-card-title>
            <md-card-title-text>
              <span translate>Some transactions have succeed, but others have been cancelled</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <md-card ng-if="validate.status === 'error'" md-colors="{'background': 'red-100'}" flex="100">
          <md-card-title>
            <md-card-title-text>
              <span translate>Some transactions have failed</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>

        <md-table-container flex="100" class="tx-list-container">
          <table md-table id="tx-list">
            <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column translate>Id</th>
                <th md-column translate>Address</th>
                <th md-column md-numeric translate>Amount</th>
                <th md-column translate>Smartbridge</th>
                <th md-column translate>Status</th>
              </tr>
            </thead>
            <tbody md-body style="white-space:nowrap;">
              <tr md-row ng-repeat="t in validate.transactions track by t.id">
                <td md-cell><a ng-click="ac.openExplorer('/tx/'+t.id)" md-colors="::{color: '{{ ac.network.themeDark ? 'background-200' : 'background-800' }}'}">{{t.id | txId}}</a></td>
                <td md-cell>{{t.recipientId | accountLabel}}</td>
                <td md-cell>{{t.amount | convertToArkValue}}</td>
                <td md-cell>{{t.vendorField}}</td>

                <td md-cell ng-if="!t.sendStatus" translate>Ready</td>
                <td md-cell ng-if="t.sendStatus === 'sending'" style="display:flex; justify-content: center">
                  <md-progress-circular md-diameter="24" style="margin-top: 6px"></md-progress-circular>
                </td>
                <td md-cell ng-if="t.sendStatus === 'ok'">
                  <md-icon md-font-library="material-icons">done</md-icon>
                </td>
                <td md-cell ng-if="t.sendStatus === 'cancelled'">
                  <md-icon md-font-library="material-icons">block</md-icon>
                </td>
                <td md-cell ng-if="t.sendStatus === 'error cancelling'">
                  <md-icon md-font-library="material-icons">warning</md-icon>
                </td>
                <td md-cell ng-if="t.sendStatus === 'error'">
                  <md-icon md-font-library="material-icons">error</md-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-primary" ng-click="validate.saveFile()">
        <span translate>Save Txs Offline</span>
      </md-button>

      <span flex></span>

      <md-button ng-click="validate.send()" ng-if="validate.status === 'pristine'" ng-disabled="validate.sent" class="md-raised md-primary">
        <span translate>Send</span> {{ac.network.symbol}}{{validate.totalAmount}} <span translate>now!</span>
      </md-button>

      <md-button ng-click="validate.cancel()" style="margin-right:20px;">
        <translate ng-if="validate.status === 'pristine'">Cancel</translate>
        <translate ng-if="validate.status !== 'pristine'">Close</translate>
      </md-button>
  </form>
</md-dialog>
