name: Draft Artifacts

on:
  push:
    branches:
      - "staging"

jobs:
  build-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Update System
        run: sudo apt-get update

      - name: Ledger
        run: sudo apt-get install libudev-dev libusb-1.0-0-dev

      - name: Install
        run: yarn global add node-gyp && yarn install --frozen-lockfile

      - name: Re-build bcrypto
        run: cd node_modules/bcrypto && npm install && cd ../../

      - name: Build
        run: yarn build:linux

      # - name: Upload .AppImage
      #   uses: actions/upload-artifact@master
      #   with:
      #     name: ark-desktop-wallet-linux-2.9.0.AppImage
      #     path: build/target/ark-desktop-wallet-linux-x86_64-2.9.0.AppImage

      # - name: Upload .tar.gz
      #   uses: actions/upload-artifact@master
      #   with:
      #     name: ark-desktop-wallet-linux-2.9.0.tar.gz
      #     path: build/target/ark-desktop-wallet-linux-x64-2.9.0.tar.gz

      - name: Upload .deb
        uses: actions/upload-artifact@master
        with:
          name: ark-desktop-wallet-linux-2.9.0-${{ github.sha }}.deb
          path: build/target/ark-desktop-wallet-linux-amd64-2.9.0.deb

  build-macOS:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: yarn global add node-gyp && yarn install --frozen-lockfile

      - name: Prepare for app notarization
        run: |
          mkdir -p ~/private_keys/
          echo '${{ secrets.APPLE_API_KEY }}' > ~/private_keys/AuthKey_${{ secrets.APPLE_API_KEY_ID }}.p8

      - name: Build
        run: yarn build:mac
        env:
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_KEY_ISSUER_ID: ${{ secrets.APPLE_API_KEY_ISSUER_ID }}
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}

      # - name: Upload .zip
      #   uses: actions/upload-artifact@master
      #   with:
      #     name: ark-desktop-wallet-mac-2.9.0.zip
      #     path: build/target/ark-desktop-wallet-mac-2.9.0.zip

      - name: Upload .dmg
        uses: actions/upload-artifact@v1
        with:
          name: ark-desktop-wallet-mac-2.9.0-${{ github.sha }}.dmg
          path: build/target/ark-desktop-wallet-mac-2.9.0.dmg

  build-windows:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: yarn global add node-gyp && yarn install --frozen-lockfile
        shell: cmd

      - name: Build
        run: yarn build:win
        shell: cmd
        env:
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}

      - name: Upload .exe
        uses: actions/upload-artifact@v1
        with:
          name: ark-desktop-wallet-win-2.9.0-${{ github.sha }}.exe
          path: build/target/ark-desktop-wallet-win-2.9.0.exe
