name: Format

on:
  pull_request:
    paths:
      - "**.js"
      - "**.ts"
      - "**.tsx"

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Update System
        run: sudo apt-get update

      - name: Ledger
        run: sudo apt-get install libudev-dev libusb-1.0-0-dev

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Run eslint
        run: yarn lint

      - uses: stefanzweifel/git-auto-commit-action@v4.1.2
        with:
          commit_message: "style: resolve style guide violations"
          branch: ${{ github.head_ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
